<!DOCTYPE='html'>
<html lang = 'pl'>

<head>
    <title>{% block title %}App{% endblock %}</title>
    <meta charset = 'utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0M4604NMLK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-0M4604NMLK');
        </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'app/img/favicon.png' %}">
    {% block head %}{% endblock %}
</head>

<body>

    <header>
            <img src = {% static 'app/img/logo.png' %} class = 'logo'>
            <h1 class = 'username'>{% if user.is_authenticated %} Witaj, {{ request.user.first_name }}!{% endif %}</h1>
            <h1>Zgłoś problem z maszyną</h1> 
    </header>
    <div class="main">
        <nav class = 'nav'>
            <ul class = 'navUl'>
                <li class = 'navLi'><a href = '/'>Strona Główna</a></li>
                <li class = 'navLi'><a href = '/report-malfunction'>Zgłoś problem</a></li>
                {% if user.is_authenticated %}
                        <li class = 'navLi'><a href = '/reports-opened-malfunctions'>Otwarte awarie</a></li>
                        <li class = 'navLi'><a href = '/reports'>Raporty</a></li>
                        <li class = 'navLi'><a href = '/administration'>Administracja</a></li>
                        <li class = 'navLi'><a href = '/admin'>django-admin</a></li>
                        <li class = 'navLi'><a href = 'http://130.171.180.99/fis/people/support'>Kontakt</a></li>
                        <li class = 'navLi'><a href = '/logout'>Wyloguj</a></li>
                {% else %}
                    <li class = 'navLi'><a href = 'http://130.171.180.99/fis/people/support'>Kontakt</a></li>
                    <li class = 'navLi'><a href = '/login'>Zaloguj</a></li>
                {% endif %}
            </ul>
        </nav>
        <section>
            {% block content %} 
                {% if user.is_authenticated %}
                    <div class = 'main-page-content'>

                    </div>
                {% else %}
                    <div class = 'main-page-content'>
                        <img src = {% static 'app/img/megaphone.png' %} class = 'megaphone'/>
                        <h2>Witaj w serwisie zgłaszania problemów z maszynami!</h2>
                        <h3><a href='/report-malfunction'>Kliknij tutaj, aby zgłosić problem z maszyną.</a></h3>           
                    </div>
                {% endif %}
            {% endblock %}
        </section>
    </div>
</body>