{% extends 'app/index.html' %}

{% block title %}Zgłoś awarię{% endblock %}
{% load static %}
{% block content %}
    {% if request.user_agent.is_mobile %}
        <div class="qr-code-container">
            <h1>Zeskanuj kod QR</h1>
            <div id="reader"></div>
        </div>
    {% else %}
        {% comment %} redirect to sth {% endcomment %}
    {% endif %}
    <script src= {% static "app\js\html5-qrcode.min.js" %}></script>
    <script src= {% static "app\js\report-malfunction-mobile.js" %}></script>
{% endblock %}