section {
    display: block;
}
.table-box {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
}
#table-reports {
  text-align: center;
}
.sorting {
  text-align: center !important;
}
#table-reports tr {
  cursor: pointer;
}
#table-reports tr:nth-child(even) {
  background-color: #e0e0e0;
}
#table-reports tr:nth-child(even):hover {
  background-color: #c0c0c0;
}
#table-reports tr:nth-child(odd):hover {
  background-color: #b0b0b0;
}

.bad-row:nth-child(even) {
  background-color: #ffc0cb !important;
}
.bad-row:nth-child(odd) {
  background-color: #ffb6c1 !important;
}
.bad-row:nth-child(even):hover {
  background-color: #ffaeb9 !important;
}
.bad-row:nth-child(odd):hover {
  background-color: #ffa2b5 !important;
}
