.content {
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-div {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}
#table-reports {
    text-align: center;
}
.sorting {
    text-align: center !important;
}
#table-reports tr {
    cursor: pointer;
}
#table-reports tr:nth-child(even) {
  background-color: #E0E0E0;
}
#table-reports tr:nth-child(even):hover {
    background-color: #C0C0C0;
}
#table-reports tr:nth-child(odd):hover {
    background-color: #B0B0B0;
}

.bad-row:nth-child(even) {
    background-color: #ffc0cb !important;
}
.bad-row:nth-child(odd) {
    background-color: #ffb6c1 !important;
}
.bad-row:nth-child(even):hover {
    background-color: #ffaeb9 !important;
}
.bad-row:nth-child(odd):hover {
    background-color: #ffa2b5 !important;
}